.editor-container ::-webkit-scrollbar {
  width: 5npmpx;
}

.editor-container ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1f2833;
  border-radius: 10px;
}

.editor-container ::-webkit-scrollbar-thumb {
  background: #45a29e;
  border-radius: 10px;
}

.editor-container ::-webkit-scrollbar-thumb:hover {
  background: #66fcf1;
}
